@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --primario:rgb(248, 248, 248);
    --primarioOscuro: #2d5de2;
    --secundario: #1a1918;
    --blanco:#FFF;
    outline: none;
    border-style: none;
}
body{
    margin: 0;
    min-height: 100vh; 
    background-color: var(--primario);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

.header-logo{
    height: 70px;
    margin: 0;
    padding: 0;
}

#gg{
    cursor: pointer;
}

/* Menu de navegacion */

#btnSalir{
    display: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    background-color:#079992;
    border: none;
    outline: none;  
}

#btnSalir:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.inicio a{
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.inicio{
    display: flex;
    flex: 1;
}

.inicio .item{
    margin-top: 20px;
    align-self: flex-start;
}

.item:hover{
    border-radius: 50px;
    background-color: #3c6382;
    transition: all 0.2s;
    color: white;
}

.menu{
    display: flex;
    gap: 2rem; 
    list-style: none;
    background-color:#079992;
    color: white;
    margin-top: 0;
    height: 80px;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.menu li:first-child{
    margin-right: auto;
}
 /**GLOBALES**/

p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor1{
    max-width: 125rem;
    margin: 16px auto;
}

.contenedor{
    background-color: rgba(128, 204, 194, 0.63);
    padding: 10px;
    border-radius: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 90rem;
    margin: 16px auto;
}

h1,h2,h3{ /**Selecciona todos los titulos**/
    text-align: center;
    color: var(--secundario);
    font-family: 'Poppins', sans-serif;
}

h1{ /**Tamaño individual**/
    font-size: 4rem;
}

h2{ /**Tamaño individual**/
    font-size: 3.2rem;
}

h3{ /**Tamaño individual**/
    font-size: 2.4rem;
}

/**FOOTER**/

.footer{
    background-color: #079992;
    margin-top: 2rem;
}

.footer__texto{
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
}

/**GRID**/

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    justify-content: center;

}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(4,1fr);
    } 
}

/**PRODUCTOS **/

.producto{
    border-radius: 5px;
    background-color: var(--primarioOscuro);
    padding: 1rem; 
}

.producto__nombre{
    font-size: 3rem;
}

.producto__precio{
    font-size: 2.5rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**GRAFICOS**/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat; /**Para no repetir imagenes en un background**/
    background-size: cover; /**Para que tome todo el espacio**/    
    grid-column: 1 / 3;
}

@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }  
}

/**PAGINA DEL PRODUCTO**/

@media (min-width: 768px) {   
    .camisa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
        color: black;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.formulario__campo{
    border: 2px solid #3c6382;
    border-radius: 10px;
    background-color: var(--primario);
    color: black;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.formulario__submit{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
    border-radius: 10px;
}

.formulario__submit:hover{
    cursor:pointer;
    background-color: #3c6382;
}

.camisa__contenido p{
    color: black;
}

.camisa_imagen{
width: auto;
height: auto;
border: 1px solid transparent;
background: linear-gradient(white, white) padding-box,
            repeating-linear-gradient(-45deg,
            black 0, black 25%,
            transparent 0, transparent 50%)  
            border-box 0 / 1em;
animation: move 12s linear infinite;
}

@keyframes move {
     to{
         background-position: 100%;
     }
 }